
/* Catalogue List Sedan */
#n10_17 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgb(47, 47, 43);
}
 
 
		/* About */
		#n10_19 {
			font-family: Roboto;
			font-size: 15px;
			font-weight: 400;
			letter-spacing: 0px;
			color: rgb(243, 113, 47);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 174px;
			align-items: center;
			line-height: 17.5781px;
			height: 34px;
			left: 596px;
			top: 767px;
		}
 
		/* Want to know more about us? */
		#n10_20 {
			font-family: Roboto;
			font-size: 11px;
			font-weight: 400;
			letter-spacing: 0px;
			color: rgb(243, 113, 47);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 174px;
			align-items: center;
			line-height: 12.8906px;
			height: 12px;
			left: 596px;
			top: 746px;
		}
 
 
		/* Rectangle 9 */
		#n10_22 {
			background: rgb(47, 47, 43);
			border-radius: 15px;
			box-shadow: rgb(243, 113, 47) 0px 0px 0px 1px inset;
			left: 433px;
			width: 115px;
			top: 45px;
			height: 63px;
		}
 
		/* My Cars */
		#n10_23 {
			font-family: Roboto;
			font-size: 20px;
			font-weight: 400;
			letter-spacing: 0px;
			color: rgb(243, 113, 47);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 115px;
			align-items: center;
			line-height: 23.4375px;
			height: 31.5px;
			left: 433px;
			top: 49px;
		}
 
 
		/* Rectangle 9 */
		#n10_25 {
			background: rgb(47, 47, 43);
			border-radius: 15px;
			box-shadow: rgb(243, 113, 47) 0px 0px 0px 1px inset;
			left: 308px;
			width: 115px;
			top: 45px;
			height: 63px;
		}
 
		/* My Rent */
		#n10_26 {
			font-family: Roboto;
			font-size: 20px;
			font-weight: 400;
			letter-spacing: 0px;
			color: rgb(243, 113, 47);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 115px;
			align-items: center;
			line-height: 23.4375px;
			height: 31.5px;
			left: 308px;
			top: 49px;
		}
 
 
		/* Rectangle 9 */
		#n10_28 {
			background: rgb(0, 0, 0);
			border-radius: 15px;
			box-shadow: rgb(243, 113, 47) 0px 0px 0px 1px inset;
			left: 186px;
			width: 115px;
			top: 45px;
			height: 63px;
		}
 
		/* Catalogue */
		#n10_29 {
			font-family: Roboto;
			font-size: 20px;
			font-weight: 400;
			letter-spacing: 0px;
			color: rgb(243, 113, 47);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 115px;
			align-items: center;
			line-height: 23.4375px;
			height: 31.5px;
			left: 186px;
			top: 49px;
		}
 
 
 
			/* CONTAINER */
			#n10_32 {
				background: rgb(0, 0, 0);
				border-radius: 15px;
				box-shadow: rgb(243, 113, 47) 0px 0px 0px 2px inset;
				left: 31px;
				width: 1304px;
				top: 93px;
				height: 638px;
			}
 
			/* WATERMARK */
			#n10_33 {
				width: 923px;
				height: 289.672px;
				left: 222px;
				top: 255px;
			}
 
				/* Sew-A-Car withoutcar */
				#nI10_33-10_7 {
					background-image: url("https://s3-alpha-sig.figma.com/img/f038/1848/daec308063c468afc3d3165bba7dda25?Expires=1601251200&Signature=C5QlKUMjIgjkxBew366-4wzQySP9lT5GbOJuL0dkMk0KRFdVGEQAlRhvpCyMIuswiCKl~wl-attj7rLkZu-RRH63nb10kaoKUQEH9mcII8z9KlqAZjnXXRQ9aHcj9feZdTQWdbVMOgBurMoOyGNiBvH58yxNPrSDYdl7xvjUGw19GdnM83QmxE~1eefOj2uXtrDdW9NYbKsUaj0ZPyr5kJrsVaopom6kizfAxnAJTYGQqTYWEmskeRPlo0z0OfRORuaypchZJOE-4oSheV92VMoCN0RbQyfvHxEBRaWP3Ln5F3QUZ1hwvn84dHJWIg69-P6diekmUdEcqoXXlVsaMQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
				}
 
 
			/* KOTAK SEARCH */
			#n10_35 {
				background: rgb(238, 238, 238);
				border-radius: 15px;
				box-shadow: rgb(243, 113, 47) 0px 0px 0px 1px inset;
				left: 93px;
				width: 1126px;
				top: 108px;
				height: 34px;
			}
 
			/* Search your desired car */
			#n10_36 {
				font-family: Roboto;
				font-size: 15px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(196, 196, 196);
				vertical-align: middle;
				text-align: center;
				justify-content: center;
				width: 1116px;
				align-items: center;
				line-height: 17.5781px;
				height: 34px;
				left: 93px;
				top: 108px;
			}
 
			/* search orange */
			#n10_37 {
				width: 30px;
				height: 30px;
				left: 1223px;
				top: 110px;
			}
 
				/* search orange */
				#nI10_37-10_10 {
					background-image: url("https://s3-alpha-sig.figma.com/img/5b6b/cbf3/1cb76a5590297e386a4b8b3384e0547c?Expires=1601251200&Signature=gLIAj074-wNFJ14-lrKEwrbMOUxTSL2U-WIaAsivm~lXJnjYf4POnuryQfvgA3kSJuNu0Sn8nPiQ6~qnK0KcHTcvX6OULmt2rhZdZT7yA~Opn9X38aRcZkbb4glu4Jj5gwkrkLl9A6-Gy5SVf87hKIz7SKZW1zXvu6bFj8Af0Jl5wolXoAcRh5s4cl~nJEs~Eamh~wa1S6nrL~rGZ2eU6yQzZpZnGrDwKGhiIfaLNtPSNCSQNjiqFAuF~RKsh2vH8nRRIIfBuwrEXeY952uk4jlRwrmEEBeMhMzGDMXyke~bM3HkAyXigenkowzuT-s~sHxHq0478f2~2mEUwwYkbA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
				}
 
			/* arrow orange */
			#n10_38 {
				width: 30px;
				height: 30px;
				left: 47px;
				top: 110px;
			}
 
				/* arrow orange */
				#nI10_38-10_13 {
					background-image: url("https://s3-alpha-sig.figma.com/img/596b/5d57/673b296dea8e309acc2c87dfbe1a85aa?Expires=1601251200&Signature=LVvBJ6miTc8CZxq0XGC7PibsMZJjzl4rYkO4vCJWQ23lMQLX5qL4Wi4xiovyqk42a0M3YNvzavqVigCRYTyhTeNUbgNpSEu0c-c~QDVx0HgRaGq3D~HfiumCiJwTRI1IXvpf9CVW2IcAgN1Rn6RbFRRelZn5X8KHToJeOXcURws4b5JDfnHNRwDL4FiVHPG6k-8owH51NBFXeJqJB3Lg3OdX9ySURyZEpCMKwzro5F8QaIbWKsDG34c1item1CSIazSMAdSJ9Hs15R1SI7e1NAZtcTQmP-sUOBk~jp2orngW2W78Ia7TnJEF6BFcn~FQYAx0lZflHnD98qCoboxUVw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
				}
 
 
 
				/* Rectangle 9 */
				#n10_149 {
					background: rgb(47, 47, 43);
					border-radius: 15px;
					box-shadow: rgb(243, 113, 47) 0px 0px 0px 1px inset;
					left: 1049px;
					width: 214px;
					top: 155px;
					height: 266px;
				}
 
				/* BMW 530i’ 15 */
				#n10_151 {
					font-family: Roboto;
					font-size: 25px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 29.2969px;
					height: 70px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 1049px;
					top: 291px;
				}
 
				/* Automatic */
				#n10_152 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 1049px;
					top: 326px;
				}
 
				/* 5 Seats */
				#n10_175 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 1155px;
					top: 326px;
				}
 
				/* Rp 1.200.000 */
				#n10_159 {
					font-family: Roboto;
					font-size: 18px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 21.0938px;
					height: 47px;
					left: 1049px;
					top: 374px;
				}
 
				/* JAKARTA */
				#n10_176 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 17.5781px;
					height: 26px;
					left: 1049px;
					top: 356px;
				}
 
 
				/* Rectangle 9 */
				#n10_257 {
					background: rgb(47, 47, 43);
					border-radius: 15px;
					box-shadow: rgb(243, 113, 47) 0px 0px 0px 1px inset;
					left: 1049px;
					width: 214px;
					top: 446px;
					height: 266px;
				}
 
				/* Mazda 6 Skyactiv’ 19 */
				#n10_259 {
					font-family: Roboto;
					font-size: 22px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 25.7812px;
					height: 70px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 1049px;
					top: 582px;
				}
 
				/* Automatic */
				#n10_260 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 1049px;
					top: 617px;
				}
 
				/* 5 Seats */
				#n10_261 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 1155px;
					top: 617px;
				}
 
				/* Rp 800.000 */
				#n10_262 {
					font-family: Roboto;
					font-size: 18px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 21.0938px;
					height: 47px;
					left: 1049px;
					top: 665px;
				}
 
				/* JAKARTA */
				#n10_263 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 64px;
					align-items: center;
					line-height: 17.5781px;
					height: 18px;
					left: 1124px;
					top: 651px;
				}
 
 
				/* Rectangle 9 */
				#n10_249 {
					background: rgb(47, 47, 43);
					border-radius: 15px;
					box-shadow: rgb(243, 113, 47) 0px 0px 0px 1px inset;
					left: 811px;
					width: 214px;
					top: 446px;
					height: 266px;
				}
 
				/* Honda Civic HB’ 17 */
				#n10_251 {
					font-family: Roboto;
					font-size: 24px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 28.125px;
					height: 70px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 811px;
					top: 582px;
				}
 
				/* Automatic */
				#n10_252 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 811px;
					top: 617px;
				}
 
				/* 5 Seats */
				#n10_253 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 917px;
					top: 617px;
				}
 
				/* Rp 400.000 */
				#n10_254 {
					font-family: Roboto;
					font-size: 18px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 21.0938px;
					height: 47px;
					left: 811px;
					top: 665px;
				}
 
				/* JAKARTA */
				#n10_255 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 17.5781px;
					height: 26px;
					left: 811px;
					top: 647px;
				}
 
 
				/* Rectangle 9 */
				#n10_241 {
					background: rgb(47, 47, 43);
					border-radius: 15px;
					box-shadow: rgb(243, 113, 47) 0px 0px 0px 1px inset;
					left: 571px;
					width: 214px;
					top: 446px;
					height: 266px;
				}
 
				/* Toyota Altis’ 19 */
				#n10_243 {
					font-family: Roboto;
					font-size: 25px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 29.2969px;
					height: 70px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 571px;
					top: 582px;
				}
 
				/* Automatic */
				#n10_244 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 571px;
					top: 617px;
				}
 
				/* 5 Seats */
				#n10_245 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 677px;
					top: 617px;
				}
 
				/* Rp 400.000 */
				#n10_246 {
					font-family: Roboto;
					font-size: 18px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 21.0938px;
					height: 47px;
					left: 571px;
					top: 665px;
				}
 
				/* JAKARTA */
				#n10_247 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 17.5781px;
					height: 26px;
					left: 571px;
					top: 647px;
				}
 
 
				/* Rectangle 9 */
				#n10_230 {
					background: rgb(47, 47, 43);
					border-radius: 15px;
					box-shadow: rgb(243, 113, 47) 0px 0px 0px 1px inset;
					left: 331px;
					width: 214px;
					top: 446px;
					height: 266px;
				}
 
				/* BMW 330i’ 19 */
				#n10_232 {
					font-family: Roboto;
					font-size: 25px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 29.2969px;
					height: 70px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 331px;
					top: 582px;
				}
 
				/* Automatic */
				#n10_233 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 331px;
					top: 617px;
				}
 
				/* 5 Seats */
				#n10_234 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 437px;
					top: 617px;
				}
 
				/* Rp 1.400.000 */
				#n10_235 {
					font-family: Roboto;
					font-size: 18px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 21.0938px;
					height: 47px;
					left: 331px;
					top: 665px;
				}
 
				/* JAKARTA */
				#n10_236 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 17.5781px;
					height: 26px;
					left: 331px;
					top: 647px;
				}
 
 
				/* Rectangle 9 */
				#n10_222 {
					background: rgb(47, 47, 43);
					border-radius: 15px;
					box-shadow: rgb(243, 113, 47) 0px 0px 0px 1px inset;
					left: 93px;
					width: 214px;
					top: 446px;
					height: 266px;
				}
 
				/* BMW 740Li’ 18 */
				#n10_224 {
					font-family: Roboto;
					font-size: 25px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 29.2969px;
					height: 70px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 93px;
					top: 582px;
				}
 
				/* Automatic */
				#n10_225 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 93px;
					top: 617px;
				}
 
				/* 5 Seats */
				#n10_226 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 199px;
					top: 617px;
				}
 
				/* Rp 1.900.000 */
				#n10_227 {
					font-family: Roboto;
					font-size: 18px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 21.0938px;
					height: 47px;
					left: 93px;
					top: 665px;
				}
 
				/* JAKARTA */
				#n10_228 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 17.5781px;
					height: 26px;
					left: 93px;
					top: 647px;
				}
 
 
				/* Rectangle 9 */
				#n10_214 {
					background: rgb(47, 47, 43);
					border-radius: 15px;
					box-shadow: rgb(243, 113, 47) 0px 0px 0px 1px inset;
					left: 810px;
					width: 214px;
					top: 155px;
					height: 266px;
				}
 
				/* Merc Benz S500L’ 16 */
				#n10_216 {
					font-family: Roboto;
					font-size: 22px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 25.7812px;
					height: 70px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 810px;
					top: 291px;
				}
 
				/* Automatic */
				#n10_217 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 810px;
					top: 326px;
				}
 
				/* 4 Seats */
				#n10_218 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 916px;
					top: 326px;
				}
 
				/* Rp 2.000.000 */
				#n10_219 {
					font-family: Roboto;
					font-size: 18px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 21.0938px;
					height: 47px;
					left: 810px;
					top: 374px;
				}
 
				/* JAKARTA */
				#n10_220 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 17.5781px;
					height: 26px;
					left: 810px;
					top: 356px;
				}
 
 
				/* Rectangle 9 */
				#n10_206 {
					background: rgb(47, 47, 43);
					border-radius: 15px;
					box-shadow: rgb(243, 113, 47) 0px 0px 0px 1px inset;
					left: 93px;
					width: 214px;
					top: 155px;
					height: 266px;
				}
 
				/* Toyota Camry’ 20 */
				#n10_208 {
					font-family: Roboto;
					font-size: 25px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 29.2969px;
					height: 70px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 93px;
					top: 291px;
				}
 
				/* Automatic */
				#n10_209 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 93px;
					top: 326px;
				}
 
				/* 5 Seats */
				#n10_210 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 199px;
					top: 326px;
				}
 
				/* Rp 850.000 */
				#n10_211 {
					font-family: Roboto;
					font-size: 18px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 21.0938px;
					height: 47px;
					left: 93px;
					top: 374px;
				}
 
				/* JAKARTA */
				#n10_212 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 17.5781px;
					height: 26px;
					left: 93px;
					top: 356px;
				}
 
 
				/* Rectangle 9 */
				#n10_178 {
					background: rgb(47, 47, 43);
					border-radius: 15px;
					box-shadow: rgb(243, 113, 47) 0px 0px 0px 1px inset;
					left: 332px;
					width: 214px;
					top: 155px;
					height: 266px;
				}
 
				/* Honda Accord’ 19 */
				#n10_180 {
					font-family: Roboto;
					font-size: 25px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 29.2969px;
					height: 70px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 332px;
					top: 291px;
				}
 
				/* Automatic */
				#n10_181 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 332px;
					top: 326px;
				}
 
				/* 5 Seats */
				#n10_182 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 438px;
					top: 326px;
				}
 
				/* Rp 850.000 */
				#n10_183 {
					font-family: Roboto;
					font-size: 18px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 21.0938px;
					height: 47px;
					left: 332px;
					top: 374px;
				}
 
				/* JAKARTA */
				#n10_184 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 17.5781px;
					height: 26px;
					left: 332px;
					top: 356px;
				}
 
 
				/* Rectangle 9 */
				#n10_198 {
					background: rgb(47, 47, 43);
					border-radius: 15px;
					box-shadow: rgb(243, 113, 47) 0px 0px 0px 1px inset;
					left: 571px;
					width: 214px;
					top: 155px;
					height: 266px;
				}
 
				/* Merc Benz E300’ 16 */
				#n10_200 {
					font-family: Roboto;
					font-size: 23px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 26.9531px;
					height: 70px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 571px;
					top: 291px;
				}
 
				/* Automatic */
				#n10_201 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 571px;
					top: 326px;
				}
 
				/* 5 Seats */
				#n10_202 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 107px;
					align-items: center;
					line-height: 17.5781px;
					height: 48px;
					box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
					left: 677px;
					top: 326px;
				}
 
				/* Rp 1.500.000 */
				#n10_203 {
					font-family: Roboto;
					font-size: 18px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 21.0938px;
					height: 47px;
					left: 571px;
					top: 374px;
				}
 
				/* JAKARTA */
				#n10_204 {
					font-family: Roboto;
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(243, 113, 47);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 214px;
					align-items: center;
					line-height: 17.5781px;
					height: 26px;
					left: 571px;
					top: 356px;
				}
 
 
		/* Line 3 */
		#n10_161 {
			left: 31px;
			width: 1304px;
			top: 31px;
			height: 0px;
		}
 
		/* Line 4 */
		#n10_162 {
			left: 30.9999px;
			width: 3.22153e-05px;
			top: 31px;
			height: 737px;
		}
 
		/* Line 5 */
		#n10_163 {
			left: 1335px;
			width: 3.22153e-05px;
			top: 31px;
			height: 737px;
		}
 
 
		/* PROFILE BUTTON */
		#n10_165 {
			background: rgb(0, 0, 0);
			border-radius: 15px;
			box-shadow: rgb(243, 113, 47) 0px 0px 0px 1px inset;
			left: 1031px;
			width: 232px;
			top: 45px;
			height: 40px;
		}
 
		/* Si-Sa-Pi */
		#n10_166 {
			font-family: Roboto;
			font-size: 17px;
			font-weight: 400;
			letter-spacing: 0px;
			color: rgb(243, 113, 47);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 232px;
			align-items: center;
			line-height: 19.9219px;
			height: 20px;
			left: 1031px;
			top: 55px;
		}
 
		/* arrow orange */
		#n10_167 {
			width: 20px;
			height: 20px;
			left: 1230px;
			top: 54px;
		}
 
			/* arrow orange */
			#nI10_167-10_13 {
				background-image: url("https://s3-alpha-sig.figma.com/img/596b/5d57/673b296dea8e309acc2c87dfbe1a85aa?Expires=1601251200&Signature=LVvBJ6miTc8CZxq0XGC7PibsMZJjzl4rYkO4vCJWQ23lMQLX5qL4Wi4xiovyqk42a0M3YNvzavqVigCRYTyhTeNUbgNpSEu0c-c~QDVx0HgRaGq3D~HfiumCiJwTRI1IXvpf9CVW2IcAgN1Rn6RbFRRelZn5X8KHToJeOXcURws4b5JDfnHNRwDL4FiVHPG6k-8owH51NBFXeJqJB3Lg3OdX9ySURyZEpCMKwzro5F8QaIbWKsDG34c1item1CSIazSMAdSJ9Hs15R1SI7e1NAZtcTQmP-sUOBk~jp2orngW2W78Ia7TnJEF6BFcn~FQYAx0lZflHnD98qCoboxUVw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
			}
 
		/* Hi, */
		#n10_168 {
			font-family: Roboto;
			font-size: 17px;
			font-weight: 400;
			letter-spacing: 0px;
			color: rgb(243, 113, 47);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 25px;
			align-items: center;
			line-height: 19.9219px;
			height: 40px;
			left: 1006px;
			top: 45px;
		}
 
		/* PROFILE PICTURE */
		#n10_169 {
			background-image: url("https://s3-alpha-sig.figma.com/img/2ca9/b329/3bc3965a4e9f43c8a2b37b9547a6f649?Expires=1601251200&Signature=Oy3EtMsUOe3oVPVTzCIAc6dO9O3RJOUI6eZV0VuQ9yG1h2ATU2xmSHd9YiRqnr5R1twQoSuA12k3SeN4wLl-gvo13GhNZhfVooRf6SBK1-dURumr-9DuoLWkAV9D-uRQ8cbPED4Ty01M4qb1~fxLqCuluxnfM01kTreIvw~cJ3C85GDpqEqynbgvxTgSrccIljdyuisaqwC2HyHIPQVoChmzD~CEEbO9z2E1JEsvOeEsCCXMexDUbmB9HLCAzBH0qA65rSv9n0M-x2Vs32HjKosnd7qVoIvBflOGJx1EKN7OXLe1PcwccuXk2N4Zpj2pE2763sql1jCFzV1T2kf-jA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			border-radius: 31px;
			box-shadow: rgb(243, 113, 47) 0px 0px 0px 2px inset;
			left: 1273px;
			width: 62px;
			top: 31px;
			height: 62px;
		}
 
	/* LOGO */
	#n10_170 {
		background-image: url("https://s3-alpha-sig.figma.com/img/bb28/ee33/c6f8fa174e1ebae643fab4ebf56c911d?Expires=1601251200&Signature=JcBG-6Uvy7XW~96iBWVkIIfGZz0pEe7PeOBiVUHLTk56jp76NScfcv-T~7s7xwEKjzdMfPqhC2IrS7e~~i~Q48ACCgTuaIGgN~qU6~A1m9aDF~oVKqbkHv0yXgl4TfNOOKhteSXU0JmIhcL6ztN8vEdZv6mTFFAYIK4fHDS09cShVlbhyi6r~ZyLEidqkYsZUypBfH~juRh8Z-eavbdONNQefeVnaB8HzyyRDalFD-0YyD3hykSdAOBf1LaCBRQvIlpdZgfuSMMerkRQpGghShcx-Gihde-BnScDWqeUxpkK4inC8CBXqWVskJvhydDqHmAeRbZL9FAL1dG9a8qO5w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		left: 31px;
		width: 150px;
		top: 31px;
		height: 61.9565px;
	}
 
	/* 2019_toyota_camry_angularfront 1 */
	#n13_0 {
		left: 201px;
		width: 182px;
		top: -536px;
		height: 124px;
	}
 
	/* accord turbo 1 */
	#n13_1 {
		left: 344px;
		width: 191px;
		top: 176px;
		height: 124px;
	}
 
	/* MercedesBenz-S-Sedan-2018-1-(2) 1 */
	#n13_5 {
		left: 740px;
		width: 41px;
		top: 1210px;
		height: 20px;
	}
 
	/* 2420 2 */
	#n13_7 {
		left: 584px;
		width: 187px;
		top: 183px;
		height: 115px;
	}
 
	/* uokpl 1 */
	#n14_33 {
		background-image: url("https://s3-alpha-sig.figma.com/img/ad2d/2cca/71367aadbb5c1b2193e8c57c0b900a5e?Expires=1601251200&Signature=hcylF0qIiuWHZBygObVwBuSDVqdQgUKXGh~aVfE5OZiNTkL5MFfzYVbz3-xQhhDDRvMfa7ts3C39-3V1cRyxIYWgqF1rMIaLhfuSYF7kRRltd-M7YqQh3qkiJoki1GPIsWW~jZbeq-~F~aBoeJ0fS7l~mXAUc2QIxZ-4m3kw60wTFLomB7hQSZhVfmc3OjrGVY5LeAM1-oq16ECnDvJBa6Vr0dybiZdrXNxKHbmhvT3tFMidRRmMwkPGCxukqqJXTg1hemiddgARGIeknG1~FTmvik1rNXW2KQxgnmZJs5tnA~xVP7oWA4cKAg-BqyUKQk9vXTx608Kyq8R0CRsWiQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		left: 90px;
		width: 216px;
		top: 195px;
		height: 93px;
	}
 
	/* 129-1298418_2018-honda-accord 1 */
	#n14_34 {
		background-image: url("https://s3-alpha-sig.figma.com/img/e173/4f69/4e16d5a2aa023b59d13f31d0fe2df173?Expires=1601251200&Signature=HGIyXRt6LeX3MW0in0USObpPr5uh9e6uj1cWlDnMDtwme8t7BWc8vECVblOyNKlDyOUjMcTUgz7i0wIwUXIyXUbLyv5ERmKkbPDWch4PWNnCfqR-E51darDEPHimfmJgbZJ0uKqsha-~ekRJO6wWoGcL-~nVdqPDRdn~4rVMhNVGxl0wks5nu9-TVXAAWSlKZO10AX-PTLS8rkLOtdns4f5oR51cX6V0Rz3wdCee556z8C-ho05D5hzX1Dg1fk4uilR5H-d6XG0mG5~lueI50uB6MqmgaVHvO9gfojXTcqoJVZDksBPc~xFw3P7be48yOUspuLTvuvLbd8556LZT9Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		left: 349px;
		width: 180px;
		top: 200px;
		height: 75px;
	}
 
	/* 315-3157266_2018-mercedes-benz 1 */
	#n14_35 {
		background-image: url("https://s3-alpha-sig.figma.com/img/d77b/e2bb/57caf65c0f3bcc9bdc23952e729d981e?Expires=1601251200&Signature=LnHWZvloA8eL6Kqx1w6HecYGuNDVhM1sszKlp~tfUueihxgW-6LvOpGI-Yl3AUWtgMF0XXMTzb4tHaUrCuYeyJd3iWad8bMTvwzg~o2CnFuKUXMmlwLoEZZhUoMY27qRK-vIm~1UJatitZhJRXGxV-9Qy7PeptSLj-ihl3ZQDIboAsMAKw81TqrLBpdjOCeo3bpNJx4mogRvY~8Lx5k1TPDCE1AnAb-3w~jnvw1g9cRDRKtx23lzfM98kQZ0xZikoJuFXfmUtqPJ4JQpD-dvedk3mAes7oUeePXlT0dPITpoM0~KeChGRfygll2d~SpPf-xkorq-6ZsXLJAa9F5DxQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		left: 588px;
		width: 178px;
		top: 199px;
		height: 78px;
	}
 
	/* 493-4936638_mercedes-benz-s 1 */
	#n14_36 {
		background-image: url("https://s3-alpha-sig.figma.com/img/6d14/48dc/2ead7a6895b4fdb5533f77eb124ec62f?Expires=1601251200&Signature=Z0nLxbShFcSyaZUeLUguZky5vPutm5iF-WAIUEXRtAgfFa-KVhhav4Mw6DIWX~96gnleW4zneR5H0A8RWLKoXdVjljjMrtzetnAqDqPoweabu6xBqohoYyTCEEUB6ywUEIOU9nJh25q-6B11aFWd24hDEJtvpPAo7-Zi-iOa5I~w9LG0kfhm1daa94VjuZyhZJ25~qZxZ80fimnEOEvgMghYTqW0BD~VWOjS2~M~TxkB1ImhWNNI8mVx7vsFAMpyBB8vfY6E4GFPGRQC~z9YvzPf~YhUIPJIp21Ss~JowwQLn~D6b~DKMLqtB3xnTtVCEhlis3stLfzLJvq7Q6y6SQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		left: 823px;
		width: 189px;
		top: 189px;
		height: 97px;
	}
 
	/* 536-5366761_beige-bmw-sedan 1 */
	#n14_37 {
		background-image: url("https://s3-alpha-sig.figma.com/img/ff04/3324/5676c18331b7fe8ece124025235aa8a2?Expires=1601251200&Signature=aaFFWlqeEKenrxdm8clGHhS68zPwVovqLy4n1E46~SLHmcxFro3VRzJfXAOzRIX6v2r70GiBXqkLxTgHwaKNuN61DaFh-G0qjfeOBa2a6zU~TgZ0EhctyKtLbPSJ8HOjgWuKrCdXZnOBgCpIsxBjqe3d2WvZ5wP9TvW41TtS-YKAKlASunbPJGbfPv7qkYUCy-4GPiGL0rnf3ITWMbgrf5Zcxs64xmjfeTuvhX64Dpz9WSYZUUK9XmzN-2YPixI3YswyO7de7RHYGW2l941lLuS-M0t5uY0GKSK73qghZqqPKks8haAiB2VYfBtzJNrX5ZpQIpFceIDU~na~xF3RjQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		left: 1069px;
		width: 180px;
		top: 185px;
		height: 101px;
	}
 
	/* 204-2040933_bmw-7-series 1 */
	#n14_38 {
		background-image: url("https://s3-alpha-sig.figma.com/img/ae5d/bb7e/05f02fe901babe2c4e7228b194722550?Expires=1601251200&Signature=I1S~g7q639xmanoyrtp-AxZdVRL-5TJEy3a6uS3OVzzbNgrAnIVUu57jN-cP1l15mqoUymRe-zuGVsF8vSWKqRls99hf7POVzCDPiJYPTckYsF1SauEpjWpK6b5E4okRvRMFuZCVd80RgUBcILnA8mwqpoKYuDtxww2UuFrHIxNfNOlwf5MlBJPIn8uLIWHBj65CqvUIJst3jWdArP60x120tfUN04qzM3wYMHP-WcP5Y9JpKy0JlTnnoN8bGP5YJ9yz8dS087ueqpHnwxgPFbrbmw9YFxhwD-W07YuQ~cAY5DZermMCLGxGcabZQBUiTXNG86ooT7AdS3aex3DBsw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		left: 104px;
		width: 190px;
		top: 500px;
		height: 79px;
	}
 
	/* 559-5595703_bmw-3-series 1 */
	#n14_39 {
		background-image: url("https://s3-alpha-sig.figma.com/img/8ad0/c7c6/5218f8dee93336f1f60dce034d0f9669?Expires=1601251200&Signature=GCeZwnYKI~QuHAYOq9CHkp42zkXWxeFopch7kkG5yWGdE9AwNOe~bKpU9W7IQWpjGEvi03Y7mgAhGUMNf1j46m2IcWMhKyjCLvEykVogj9ys2gIrv1FNSEaX9hbDikZNJ27xQpFyW-t2fiyoDT8XFrGuDJFM4h1DZ7G9LhfOOKcWJO25BAFP0D0yRmAnxhh5eDyuwAW5YohoG70htU4nW69wDF63tkAfXcO2LOKKwEspBqGVbIqTBFMoP5EYR9em3U2fLdkNwhzpkVWJj3G3nXyRHuAi6~MFc7SyRuDaDW4YwBQ8CuTYRP-tHS9Gn5KbkLY5ZcpI0~LdV2Yws8RKCA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		left: 344px;
		width: 191px;
		top: 499px;
		height: 80px;
	}
 
	/* Daco_5974743 1 */
	#n14_40 {
		background-image: url("https://s3-alpha-sig.figma.com/img/23ca/13e7/17b4fe33365fa42a2b5010018e1defcb?Expires=1601251200&Signature=Y-i8XVFybgoaZbaTvBv6HyzO8rrAafGe2as4ShA4OdWuQ3hlej0n~nsDDUP68gEjdIW7CsCSHtp4WT9C8Y5Yy9f8XvLuFII4RzLYnAIbBql4FcUUkBF9sSWr6OuewHSECLCarqtuscmTDGXlYg3IculsI4PpX92Mvo7srmB8UvcprWi8hgeq-vAYRDu7qWtc1fN7Mi~btA5DDoxtRdDP6mXAW9eRqm0PVJfljOkQUs5Lub6ZVC0NqW2tXhfiOPkWOHKcga7uSyf2ls-AyDDaPDRBSqBeE6BvrAp3RhM9vaj8AY48MfIVXTp-fFdiP6w3g6PKGUAx11gT8MRfEw3oKA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		left: 592px;
		width: 179px;
		top: 483px;
		height: 111px;
	}
 
	/* Daco_5518761 1 */
	#n14_41 {
		background-image: url("https://s3-alpha-sig.figma.com/img/ba54/a428/65746a99de222f7c2f9cfce1fbdee967?Expires=1601251200&Signature=Axal~mqkNCKTMuAY66Rg33JFHLHpktrcqZzG465-a6el7Lq7wHs9QYoSxuuvu8F-aUuhWU9o4qefKmI-PIpDsyn4QeTP3HlgJqSiv3jeD25K1Uh~rRydqiq3pQCOn7dTGyg9wHrAT8asTeO~4u1FJAXUOtpLSwsw1b0r4PX3QOmq03Fbfwzh5CvPWDJMCR-vd~4lsR3vu9vhVNW-p2nL4JUJVxVVr00UNb3J81SkAcnwtD546IHVxUEQc5qUq6VOyzflAlkCoKp7~BEoitN-BlmyeNyfYiypdpuui8keXP56LsWnEY4dCIA1ivyxSEJHXrDWhB3ikM8HI7Hxj2m6Gw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		left: 826px;
		width: 183px;
		top: 490px;
		height: 92px;
	}
 
	/* Daco_5517824 1 */
	#n14_42 {
		background-image: url("https://s3-alpha-sig.figma.com/img/2a32/584b/43a92bc5bd8a5560a59954f29d13f93b?Expires=1601251200&Signature=IcQF-bIhUDbqbMLqXK5WsUVJAP7uSu8p38wmi8dzuGOUFEYHS8orKiklVuM4bwebR3OOfEuJx5LvXy7~lYbzm7pYH8CKpMyyR58z7M~k1ILtpSGfYIIVIQF1e-sLxrzubm5YKBsAi0LOasjFWqFtlzYApbUFhPOOeDuYmo~YWWJDieI~pD39VqitLI4WARWTLr3FzVyMRWz7mHpyWXNfQVSqOZDkHaXHQZM5Lt1nw6rk49wEgNsyDUDOhi48t-GZDED2XuccDytaf0P71SXPxnAzErynpaPDn06tcC9SjAPqpFwMwFelXgkx~TncDRY~YdvxpASPfFN5GzSf74iCaA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		left: 1058px;
		width: 194px;
		top: 485px;
		height: 101px;
	}